body {
  height: 100%;
  width: 100%;
  background-image: url("images/fabric-image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  height: 40em ;
  width : 40em ;
  margin-top: 50px ;
  background-color: black ;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20em 20em 20em 20em ;
}

.circle{
  height: 20em ;
  width : 20em ;
  background-color: black ;
  margin-top: 10em ;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20em 20em 20em 20em ;
}

.control-item{
  height: 15em ;
  width : 15em ;
  background-color: white ;
  margin-top: 12.5em ;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15em 15em 15em 15em ;
  text-align: center;
}

#simon{
  font-family: 'Comfortaa', cursive;
  position: relative;
  top : 20px ;
  font-size: 30px ;
}

#start-div{
  height: 2em ;
  width : 6em ;
  background-color : black ;
  position : relative ;
  top : 25px;
  left : 10px ;
}

#start-button{
  height: 2em ;
  width : 2em ;
  border-radius: 2em 2em 2em 2em ;
  background : rgb(208,53,4);
  position : relative ;
  left : -30px ;
  top : 3px ;
}

#status-text {
  font-family: 'Comfortaa', cursive;
  font-size : 15px ;
  position : relative ;
  top : -33px ;
  left : 15px ;
  color : white ;
  filter : brightness(200%);
  box-shadow : 1px solid black ;
}

#counter{
  height: 1.8em ;
  width : 6em ;
  background-color : #4A0000 ;
  border : 5px solid black ;
  position : relative ;
  top : -10px ;
  left : 125px ;
}

#count{
  font-family: 'Aldrich', sans-serif;
  font-size : 25px ;
  position : relative ;
  top : -25px ;
  color : #910000 ;
  filter : brightness(100%) ;
}

#red-button{
  position : absolute ;
  height: 20em ;
  width : 20em ;
  background-color: rgb(208,53,4) ;
  margin-top: 40px ;
  margin-left: 40px ;
  top : 0;
  left : 0;
  border-radius: 20em 10px 10px 10px ;
}

.game-button:hover{
  outline:none ;
}

.game-button:focus{
  outline : none ;
  filter : brightness(200%);
}

#start-button:focus{
  outline : none ;
}

.bright{
  filter : brightness(200%);
}

.addBrightness{
  animation-name : brightness-animation ;
  animation-duration : 2s ;
  animation-iteration-count: 2 ;
}

@keyframes brightness-animation {
  50% {filter : brightness(200%);}
  100% {filter : brightness(50%);}
}

#green-button{
  position : absolute ;
  height: 20em ;
  width : 20em ;
  background-color: green ;
  margin-top: 40px ;
  margin-right: 40px ;
  top : 0;
  right: 0;
  border-radius: 10px 20em 10px 10px ;
}

#blue-button{
  position : absolute ;
  height: 20em ;
  width : 20em ;
  background-color: rgb(29,157,200) ;
  margin-bottom: 40px ;
  margin-left: 40px ;
  bottom : 0;
  left : 0 ;
  border-radius: 10px 10px 10px 20em ;
}

#yellow-button{
  position : absolute ;
  height: 20em ;
  width : 20em ;
  background-color: rgb(237,203,31) ;
  margin-bottom: 40px ;
  margin-right: 40px ;
  bottom : 0 ;
  right : 0 ;
  border-radius: 10px 10px 20em 10px ;
}
